<div *ngIf="isMenuVisible">
    <mat-toolbar class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon class="menu">menu</mat-icon>
        </button>
        <span>Angular Authentication - NGRX</span>
        <span class="example-spacer"> </span>
        <button mat-button class="primary" routerLink="/login">Logout</button>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" position="start" mode="side">
            <mat-nav-list>
                <mat-list-item>
                    <button class="btn" mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
                </mat-list-item>
                 <mat-list-item *ngFor="let item of menulist"> 
                    <button  class="btn" mat-button routerLink="{{item.menu}}"><mat-icon>verified_user</mat-icon>{{item.menu}}</button>
                </mat-list-item>
                 <!-- <mat-list-item>
                    <button  class="btn" mat-button routerLink="/customer"><mat-icon>verified_user</mat-icon>Customer</button>
                </mat-list-item>
                 <mat-list-item>
                    <button  class="btn" mat-button routerLink="/user"><mat-icon>verified_user</mat-icon>User</button>
                </mat-list-item> -->
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align:center; min-height: 600px;" >
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<div style="text-align:center; min-height: 600px;" *ngIf="!isMenuVisible">
    <router-outlet></router-outlet>
</div>

